{% extends '::base.html.twig' %}

{% block title %} Annonces {% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm-9">
			{% block content %}{% endblock content %}
		</div>
		<div class="col-sm-3">
			<h3 class="text-center">Menu</h3>
	    	<ul class="nav nav-pills nav-stacked">
	    	  <li role="presentation"><a href="{{ path('ads') }}">Liste des annonces</a></li>
			  <li role="presentation"><a href="{{ path('ads_new') }}">Déposer votre annonce</a></li>
			  {% block actions %}{% endblock actions %}
			</ul>
	    </div>
	</div>
{% endblock body %}