{% extends 'JTAdsBundle::layout.html.twig' %}

{% block content %}
    <h1>Ads creation</h1>

    {{ form(form) }}

        
    <a class="btn btn-default" href="{{ path('ads') }}">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Retour à la liste
    </a>

{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('bundles/mopabootstrap/js/mopabootstrap-collection.js') }}"></script>
{% endblock %}
